*.DS_Store
*.iml
**/*.iml
*.ipr
*.iws
.gradle
.idea
build
out
classes
target
.apt_generated
.factorypath

#Eclipse

**/*.project
**/*.classpath
.metadata
.gradle
bin/
tmp/
local.properties
.settings/
